In [4]:
import pandas as pd

In [5]:
import json
import pymongo

In [6]:
fitbit = pd.read_csv(r"C:\Users\Lenovo\iNeuron\data fsds\FitBit data.csv")
fitbit_json = fitbit.to_json(orient='columns')

parsed = json.loads(fitbit_json)

client = pymongo.MongoClient("mongodb+srv://Rishabh:Mongodb2@cluster0.lhaw5.mongodb.net/?retryWrites=true&w=majority")
db = client.test

database = client['Test']
collection = database['fitbit_data']

collection.insert_many([parsed])

# Read this dataset in pandas

In [7]:
dataset = pd.read_csv('data fsds/FitBit data.csv')
df = dataset.copy()

In [8]:
df.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886

# convert all the dates avaible in dataset to timestamp format in pandas

In [9]:
df['ActivityDate'] = df['ActivityDate'].apply(pd.Timestamp)
df['ActivityDate']

0     2016-03-25
1     2016-03-26
2     2016-03-27
3     2016-03-28
4     2016-03-29
         ...
452   2016-04-08
453   2016-04-09
454   2016-04-10
455   2016-04-11
456   2016-04-12
Name: ActivityDate, Length: 457, dtype: datetime64[ns]

# Find out in this data that how many unique id's we have

In [10]:
df['Id'].nunique()

35

# which id is one of the active id that you have in whole dataset

In [11]:
df.groupby('Id')['TotalSteps'].sum().index

Int64Index([1503960366, 1624580081, 1644430081, 1844505072, 1927972279,
            2022484408, 2026352035, 2320127002, 2347167796, 2873212765,
            2891001357, 3372868164, 3977333714, 4020332650, 4057192912,
            4319703577, 4388161847, 4445114986, 4558609924, 4702921684,
            5553957443, 5577150313, 6117666160, 6290855005, 6391747486,
            6775888955, 6962181067, 7007744171, 7086361926, 8053475328,
            8253242879, 8378563200, 8583815059, 8792009665, 8877689391],
           dtype='int64', name='Id')

# how many of them have not logged there activity find out in terms of number of ids

In [12]:
sum(df.groupby("Id")['LoggedActivitiesDistance'].sum() == 0)

29

# Find out who is the laziest person id that we have in dataset

In [13]:
df.groupby('Id')['SedentaryMinutes'].mean().sort_values().tail(1)

Id
4388161847    1384.25
Name: SedentaryMinutes, dtype: float64

In [14]:
lazy_person = pd.DataFrame(df.groupby('Id')['SedentaryMinutes'].mean())

In [15]:
lazy_person[lazy_person['SedentaryMinutes'] == lazy_person['SedentaryMinutes'].max()]

            SedentaryMinutes
Id
4388161847           1384.25

# Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset

In [16]:
calorie_burn = pd.DataFrame(df.groupby('Id')['Calories'].mean())
len(calorie_burn[calorie_burn['Calories'] > 2000])

20

# how many person are not a regular person with respect to activity try to find out those

In [17]:
calorie_burn = pd.DataFrame(df.groupby('Id')['Calories'].mean())
len(calorie_burn[calorie_burn['Calories'] < 2000])

15

# who is the third most active person in this dataset find out those in pandas and in sql both

In [18]:
fit_persons = pd.DataFrame(df.groupby('Id')['Calories'].mean().sort_values(ascending = False))

In [19]:
fit_persons.head()

               Calories
Id
8877689391  3451.166667
8378563200  3356.166667
5577150313  3300.272727
4020332650  3075.375000
1644430081  2916.400000

In [20]:
fit_persons.iloc[2]

Calories    3300.272727
Name: 5577150313, dtype: float64

# who is the 5th most laziest person avilable in dataset find it out

In [21]:
fit_persons.iloc[-5]

Calories    1532.083333
Name: 2320127002, dtype: float64

In [22]:
fit_persons.tail()

               Calories
Id
2320127002  1532.083333
8253242879  1463.000000
3977333714  1398.083333
2026352035  1355.500000
1624580081  1352.894737

# what is a total acumulative calories burn for a person find out

In [23]:
df.groupby('Id')['Calories'].sum()

Id
1503960366    34128
1624580081    25705
1644430081    29164
1844505072    19391
1927972279    27048
2022484408    29704
2026352035    16266
2320127002    18385
2347167796    30320
2873212765    20349
2891001357    18187
3372868164    18603
3977333714    16777
4020332650    98412
4057192912    60913
4319703577    23931
4388161847    14442
4445114986    31617
4558609924    21962
4702921684    42322
5553957443    21630
5577150313    36303
6117666160    20993
6290855005    21656
6391747486    15868
6775888955    24523
6962181067    29249
7007744171    31525
7086361926    26124
8053475328    31825
8253242879    17556
8378563200    40274
8583815059    19130
8792009665    24884
8877689391    41414
Name: Calories, dtype: int64